body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    color: var(--text-color, white); /* Default text color */
}

img {
    max-width: 200px;

}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;

}
ul li {
    width: 400px;
    float: left;
}
.sidebar {
    background-color: rgb(31,29,32);
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar a {
    display: block;
    color: var(--text-color, rgb(255, 255, 255));
    padding: 10px 0;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #b2ebf2;
    color: var(--text-color, #004d40);
}

.content {
    flex: 1;
    padding: 20px;
    background-color: rgb(42, 40, 47);
    overflow: auto;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

h2 {
    color: var(--text-color, rgb(77,182,172));
}

.calendarInfoButton {
    background-color: transparent; 
    max-width: 20px;    
    border-style: solid;
    border-color: var(--text-color, rgb(77,182,172));
    border-width: 1px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    position: relative;
    left:110px;
    top: 0px;
}
.displayInfoButton {
    display: none;
  }
.calendarInfoButton:hover + .displayInfoButton {
    display: inline-block;
    background-color: red;
  }

form label {
    display: block;
    margin-top: 10px;
    color: var(--text-color, #000000);
}

form input, form select, form button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
}

::placeholder {
    color: rgb(224, 224, 224);
    opacity: 1; /* Firefox */
    margin-left: 20px;
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(221, 221, 221);
    margin-left: 20px;

  }

form button {
    background-color: #4db6ac;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: #00796b;
}

.fc-event {
    border: 1px solid black !important;
}

#calendarView {
    background-color: white;
    min-height: 800px;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    color:black;
}

#taskListView {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    color: black;
}

.task-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}

.task-item:last-child {
    border-bottom: none;
}

.task-item input, .task-item select {
    margin-top: 5px;
}

.task-item .delete-task {
    margin-top: 10px;
    margin-left: 5px;
    background-color: #f44336;
    color: white;   
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task-item .update-task {
    margin-top: 10px;
    margin-left: 5px;
    background-color: #1c992c;
    color: white;   
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task-item .delete-task:hover {
    background-color: #d32f2f;
}
.task-item .update-task:hover {
    background-color: #10751e;
}

.eventTextColor {
    color: black;
}